<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作业调度管理平台</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link href="http://kendo.cdn.telerik.com/2018.1.221/styles/kendo.rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="http://kendo.cdn.telerik.com/2018.1.221/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="http://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/Content/kendo/kendo.rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        
    </div>

    <div class="">
        @RenderBody()
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/kendo/kendo.core.min.js"></script>
    <script src="~/Scripts/kendo/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo/kendo.view.min.js"></script>
    @*<script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2018.1.221/js/kendo.ui.core.min.js"></script>*@
</body>
</html>